<%- partial('partial/header') %>

<p>I am a technical coach and mobile+cloud architect. Currently I work with teams to integrate quality, scalability, security, and accessibility into multi-platform app ecosystems. I completed my Ph.D. at the University of Florida using stochastic models to understand user-interface behavior and cognition. I tweet about process design and technical education. Follow <a href="https://twitter.com/gotoplanb">@gotoplanb</a></p>
<h2>Projects</h2>
<ul>
  <li><a href="http://www.tampabay.com/americas-worst-charities/">America's Worst Charities</a></li>
  <li><a href="http://www.kony.com/">Kony</a></li>
  <li><a href="http://www.poynter.org/">Poynter</a></li>
  <li><a href="https://www.stonevault.com/">StoneVault</a></li>
  <li><a href="http://www.weightwatchers.com/templates/marketing/marketing_utool_1col.aspx?pageid=1191351">Weight Watchers</a></li>
</ul>
<h2>Research</h2>
<ul>
  <li><a href="https://github.com/gotoplanb/discriminating-news-reading-behavior/blob/master/done/dissertation-final.pdf">Discriminating News-Reading Behavior Using Eye-Tracking Methodologies</a></li>
  <li><a href="http://etd.fcla.edu/UF/UFE0012301/stanton_d.pdf">The Miami Herald and the Miller Effect: Literary Journalism in the 1980s</a></li>
</ul>
<h2>Presentations</h2>
<ul>
  <li><a href="http://www.snd.org/sndsf2016/2016/03/22/designing-for-everybody/">Designing for Everybody</a>. Society for News Design. April 9, 2016.</li>
  <li><a href="http://sxtxstate.com/2013/03/lean-forward-lean-back-tablet-news-experiences/">Lean Forward, Lean Back: Tablet Storytelling Experiences</a>. SXSW. March 11, 2013.</li>
  <li><a href="http://readwrite.com/2010/04/06/kids_on_the_web_innovation_from_unlikely_experts">My Three-Year Old is my Usability Expert</a>. SXSW. March 15, 2010.</li>
</ul>
<h2>Invitations</h2>
<ul>
  <li><a href="http://www.snd.org/2016/04/sndmakes-sf-mid-sprint-update/">SNDMakes-SF</a> April 4, 2016.</li>
  <li><a href="http://www.snd.org/2013/03/meet-snds-2012-worlds-best-news-sites-and-apps-sb-nation-lenta-ru-and-the-guardian-and-observer-ipad-app/">Society for News Design judge for "World's Best."</a> March 5, 2013.</li>
  <li><a href="http://segal.northwestern.edu/news-events/events/archive/driving-innovation-through-design.html#.VP3ytlPF-Bs">Driving Innovation Through Design</a>. Northwestern University and the National Science Foundation. April 15-16, 2010.</li>
</ul>
<h2>Articles</h2>
<ul>
  <li><a href="https://source.opennews.org/en-US/learning/know-your-stats/">Know Your Stats</a>. Source. July 25, 2013</li>
</ul>
<h2>Certifications</h2>
<ul>
  <li><a href="https://aws.amazon.com/certification/certified-solutions-architect-professional/">AWS Certified Solutions Architect - Professional (AWS-PSA)</a></li>
  <li><a href="https://aws.amazon.com/certification/certified-sysops-admin-associate/">AWS Certified SysOps Administrator - Associate (AWS-ASOA)</a></li>
  <li><a href="https://aws.amazon.com/certification/certified-developer-associate/">AWS Certified Developer - Associate (AWS-ADEV)</a></li>
  <li><a href="https://aws.amazon.com/certification/certified-solutions-architect-associate/">AWS Certified Solutions Architect - Associate (AWS-ASA)</a></li>
  <li><a href="https://mylearn.vmware.com/mgrReg/plan.cfm?plan=41162&ui=www_cert">VMware Certified Associate – Data Center Virtualization (VCA-DCV)</a></li>
  <li><a href="https://www.padi.com/scuba-diving/padi-courses/course-catalog/master-scuba-diver-trainer/">PADI Master Scuba Diver Trainer (PADI-MSDT)</a></li>
  <li><a href="https://www.padi.com/scuba-diving/padi-courses/course-catalog/emergency-first-response-instructor/">PADI Emergency First Response Instructor (PADI-EFR)</a></li>
</ul>
<h2>Patents</h2>
<ul>
  <li><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8,943,096.PN.&OS=PN/8,943,096&RS=PN/8,943,096">Method and apparatus for storing, sharing, and/or organizing personal information</a>, U.S. Patent 8,943,096</li>
</ul>

<hr/>

<h2>Posts</h2>

<div class='row'>
 <ul>
 <% page.posts.each(function(post){ %>
     <li>
      <h3>
                <a href="<%- url_for(post.path) %>">
           <%= post.title %>
          </a>
            </h3>
            <div class='text-muted'>
                <%= date(post.date, config.date_format) %>
            </div>

            <% if(post.excerpt) { %>
                <p>
                    <%- post.excerpt %>
                </p>
            <% } %>
     </li>
   <% }) %>
 </ul>
</div>
